{% extends 'base2.html' %}
{% load bootstrap4 %}
{% block body %}
	<!-- Submit Ad -->
	<div class="submit-ad main-grid-border">
		<div class="container">
			<h2 class="head">Add images for your ad</h2>                           
                        <form method="post" class="form">
                            {% csrf_token %}
							{% bootstrap_form form %}

                            {% buttons %}
                            <input type="submit"  value="post">
                            {% endbuttons %}
                        </form>
						 
						<form method="post" class="form" action="/products/">
                            {% csrf_token %}
							
                            {% buttons %}
                            <input type="submit"  value="home">
                            {% endbuttons %}
                        </form>
						 
						</div>
					<div class="clearfix"></div>
						<script src="js/filedrag.js"></script>
				</div>
			</div>
		</div>	
	</div>
{% endblock body %}