{% extends 'base2.html' %}
{% load bootstrap4 %}
{% block body %}
	<!-- Submit Ad -->
	<div class="submit-ad main-grid-border">
		<div class="container">
			<h2 class="head">Post an Ad</h2>
                    <form method="post" class="form"  enctype="multipart/form-data"> 
                            {% csrf_token %}
							{% bootstrap_form form %}
                            {% buttons %}
                            <input type="submit"  value="post">
                            {% endbuttons %}
                   </form> 
					{% comment %} <form method="post" class="form" action="addimages/">
						{% csrf_token %}
						
                             <input type="submit" value="addimages">
					</form> {% endcomment %}
						</div>
					<div class="clearfix"></div>
						<script src="js/filedrag.js"></script>
				</div>
			</div>
		</div>	
	</div>
{% endblock body %}