{% extends 'base2.html' %}
{% load bootstrap4 %}
{% block body %}    
    {% comment %} {% block content %} {% endcomment %}
    <!--Register-->
    <div class="container py-5">
    <h1>Register</h1>
    <form method="POST">
        {% csrf_token %}
        {% bootstrap_form register_form %}
        {% buttons %}
            <input type="submit" class="btn btn-primary" value="Register">
        {% endbuttons %}
    </form>
    <p class="text-center">  If you already have an account, 
     <form class="text-center" method="post" action="/login/">
        {% csrf_token %} 
       {% buttons %}
       <input type="submit" class="btn btn-primary" value="Login">
   {% endbuttons %}
     </form>
     </p>
    </div>
{% endblock body %}